.header__loggedin {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-promo);
    border-radius: 0px 15px;
    padding: 5px 10px;
}

.header__loggedin__name {
    margin-right: 20px;
    color: var(--color-promo);
}
.header__loggedin__link {
    position: relative;
    z-index: 1;
    color: var(--color-black);
    transition: color .3s ease-in-out;
}
.header__loggedin__link:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -10px;
    left: -10px;
    bottom: -5px;
    background-color: var(--color-promo);
    z-index: -1;
    border-radius: 0px 12px 0px 0px;
    transition: opacity .3s ease-in-out;
}
.header__loggedin__link:focus-visible {
    outline: none;
    color: #fff;
}
.header__loggedin__link:focus-visible:before {
    opacity: 0.5;
}